body {
   border: 3px solid purple;
}

.cardsContainer {
   display: flex;
   border: 3px solid green;
   overflow: scroll;
}

@keyframes scroll {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-100%);
   }
}

.scroll-cardandmodal {
   width: 100%;
   overflow: hidden;
}

.scroll-image {
   width: 200%; /* Double de la largeur pour un défilement complet */
   animation: scroll 10s linear infinite; /* Ajustez la durée selon vos besoins */
   transition: transform 0.3s ease; /* Ajoute une transition pour une expérience plus fluide */
}

.scroll-cardandmodal:hover .scroll-image {
   animation-play-state: running; /* Reprend l'animation en survol */
}


.cardandmodal {
   border: 3px solid blue;
}

.cardandmodal .card {
   border: solid 3px orange;
   cursor: pointer;
   height: 200px;
   width: 200px;
   display: flex;
   flex-direction:column;
   justify-content:space-between;
   align-items:flex-start;
}

.modaleContainer {
   background-color: rgba(0, 0, 0, 0.9);
   border: 3px solid green;
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   /* Centrer le pop au milieu*/
   display: flex;
   justify-content: center;
   align-items: center;
}

.card > img {  
   border-radius: 50%;   
}

.modaleContainer > img {
   width: 300px;
   height: 300px;
   object-fit: cover;
   border-radius: 50%;
}

.card img {
   height: 150px;
   width: 150px;
   object-fit: cover;
}

